body{
  background: #FEFAEC;
}

#container{
  background: #F9A1BC;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;


  h1{
    text-align: center;
    font-size: 20px;
  }

  #form-add-todo{
    text-align: center;
  }

  #todos{
   list-style-type: none;
   padding:0;
   margin:0;
   padding: 20px;
   
   li {
    background: #625772;
    color: #E4F091;
    font-size: 16px;
    font-weight:300;
    list-style-type: none;
    margin:0;
    padding: 15px;
    border-bottom: 1px dotted #bbb;

    .form-group{
      margin-bottom:0;

      .complete{
	text-decoration: line-through;
      }

      .control-label{
	margin-bottom: 0;
      }
    }

    .priority, .status {
      font-size: 14px;
    }
    
    .todo-details{
      overflow: hidden;
      //display:none;
      opacity: 0;
      height: 0;
      transition: all 0.5s;
    }

    .todo-details.active{
      opacity: 1;
      height:auto;
    }
  }
 }
} 
